<div class="flex flex-col justify-start">
  <div class="cursor-pointer pl-5 pt-5 absolute"
       [routerLink]="['../browse']">
    <mat-icon fontIcon="arrow_back"></mat-icon>
  </div>
  <div class="text-center flex justify-center text-5xl font-bold my-5">Register New Artist</div>
  <form [formGroup]="registerForm"
        class="flex flex-col justify-center p-10"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput
             formControlName="firstName"
             placeholder="First Name">
      @if(showError('firstName') && hasError('firstName', 'required')) {
      <mat-error> First Name is required.</mat-error>
      }
      @if(showError('firstName') && hasError('firstName', 'minlength')) {
      <mat-error> First Name must be at least 3 characters.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput
             formControlName="lastName"
             placeholder="Last Name">
      @if(showError('lastName') && hasError('lastName', 'required')) {
      <mat-error> Last Name is required.</mat-error>
      }
      @if(showError('lastName') && hasError('lastName', 'minlength')) {
      <mat-error> Last Name must be at least 3 characters.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput
             [matDatepicker]="dobPicker"
             formControlName="dob"
             placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix
                             [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
      @if(showError('dob') && hasError('dob', 'required')) {
      <mat-error> Date of Birth is required.</mat-error>
      }
      @if(showError('dob') && hasError('dob', 'ageError')) {
      <mat-error> You must be at least {{
        registerForm.get('dob')!.errors!['ageError']!['requiredAge'] }} years old</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"
             placeholder="Email">
      @if(showError('email') && hasError('email', 'required')) {
      <mat-error> Email is required.</mat-error>
      }
      @if(showError('email') && hasError('email', 'email')) {
      <mat-error> Invalid email format.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput
             formControlName="phoneNumber"
             placeholder="Phone Number">
      @if(showError('phoneNumber') && hasError('phoneNumber', 'required')) {
      <mat-error> Phone number is required.</mat-error>
      }
      @if(showError('phoneNumber') && hasError('phoneNumber', 'pattern')) {
      <mat-error> Invalid phone number format.</mat-error>
      }

    </mat-form-field>

    <mat-form-field>
      <mat-label>Profile Picture</mat-label>
      <input matInput
             formControlName="profilePicture"
             placeholder="Profile Picture">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Stage Name</mat-label>
      <input matInput
             formControlName="stageName"
             placeholder="Stage Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Artist Backstory</mat-label>
      <textarea matInput
                formControlName="artistBackstory"
                placeholder="Artist Backstory"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Starting Date</mat-label>
      <input matInput
             [matDatepicker]="startingDatePicker"
             formControlName="startingDate"
             placeholder="Starting Date">
      <mat-datepicker-toggle matSuffix
                             [for]="startingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startingDatePicker></mat-datepicker>
    </mat-form-field>
    <!-- albums form -->
    <ng-container formArrayName="albums">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Albums
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let albumForm of albums.controls; let i=index">
          <form [formGroup]="getAsFormGroup(albumForm)"
                class="flex justify-between">
            <div class="flex gap-x-5 w-1/2">

              <mat-form-field class="max-input-height">
                <mat-label>Album Picture</mat-label>
                <input matInput
                       formControlName="picture"
                       placeholder="Picture url">
              </mat-form-field>
              <mat-form-field class="max-input-height">
                <mat-label>Album Date</mat-label>
                <input matInput
                       [matDatepicker]="albumDatePicker"
                       formControlName="date"
                       placeholder="Date">
                <mat-datepicker-toggle matSuffix
                                       [for]="albumDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #albumDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- songs form -->
            <div class="flex justify-between gap-x-2 lg:w-1/2">
              <div formArrayName="songs"
                   class="flex flex-col">
                <ng-container *ngFor="let songForm of getSongs(i).controls">
                  <form [formGroup]="getAsFormGroup(songForm)"
                        class="flex flex-col gap-x-5">
                    <mat-form-field>
                      <mat-label>Song name</mat-label>
                      <input matInput
                             formControlName="name"
                             placeholder="Song name">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Song duration</mat-label>
                      <input matInput
                             formControlName="duration"
                             placeholder="Duration">
                    </mat-form-field>
                  </form>
                </ng-container>
              </div>
              <button mat-raised-button
                      color="primary"
                      class="w-1/4 flex"
                      (click)="addSong(i, $event)">
                <mat-icon fontIcon="add"></mat-icon>
                Add Song
              </button>
            </div>


          </form>
        </ng-container>
        <button mat-raised-button
                color="primary"
                class="w-1/4 flex"
                (click)="addAlbum($event)">
          <mat-icon fontIcon="add"></mat-icon>
          Add Album
        </button>
      </mat-expansion-panel>

    </ng-container>


    <div class="flex justify-center mt-10">
      <button mat-raised-button
              type="submit"
              color="primary"
              class="w-1/2 flex">Submit</button>
    </div>

  </form>

</div>